%btn {
  background: $lightblue;
  border: 1px #CCC;
  padding: 20px 30px;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 40px;
  cursor: pointer;
  &:hover {
    background: darken($lightblue, 10%);
  }
}

%btn-white {
  background: white;
  border: 1px #CCC;
  padding: 20px 30px;
  color: $darkblue;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 40px;
  cursor: pointer;
  &:hover {
    background: darken(white, 10%);
  }
}