@import "components/Button/style.scss";
@import "components/Input/style.scss";
@import "components/Apps/style.scss";
@import "components/Label/style.scss";
@import "components/Login/style.scss";
@import "components/ControlpanelApp/style.scss";
@import "components/Sidebar/style.scss";
@import "components/AppShow/style.scss";
@import "components/StatusIcon/style.scss";
@import "components/Table/style.scss";
@import "components/Onboarding/style.scss";
@import "components/Select/style.scss";
@import "components/ErrorMessage/style.scss";
@import "components/TextArea/style.scss";
@import "components/ImagesSelect/style.scss";
@import "components/ImageSelectItem/style.scss";
@import "components/Hint/style.scss";
@import "components/Profile/style.scss";

$layoutWidth: 1100px;

html, body, #adminapp {
  height: 100%
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  padding: 0px;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: #111111;
}
a:hover {
  text-decoration: none;
}

%container {
  max-width: $layoutWidth;
  margin: 0 auto;
  position: relative;
}
.container {
  @extend %container;
}
