.ControlpanelApp {
  display: flex;
  min-height: 100vh;
  @media(max-width: 500px) {
    flex-direction: column;
  }
}
.ControlpanelApp__Sidebar {
  background-color: #252F3B;
  flex: none;
  @media(min-width: 500px) {
    flex: 3;
    min-width: 200px;
    max-width: 350px;
  }
}
.ControlpanelApp__Content {
  flex: 7;
  padding: 20px;
}
