.AppsList {}
.AppsList__Item {
  line-height: 35px;
  padding: 0 5px;
  border-bottom: 1px solid #CCC;
  &:last-child {
    border-bottom: 0px;
  }
  &:hover {
    background-color: #ECECEC;
  }
}
.AppsList__Link {
  display: block;
  text-decoration: none;
}
.AppsList__Item__Icon {
  background-color: #008000;
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 10px;
  margin: 0 10px;
}
