.Button {
  padding: 10px 20px;
  background-color: #1E90FF;
  border: none;
  color: #FFF;
  font-size: 1em;
  margin: 10px 0;
  cursor: pointer;
  &:hover {
    background-color: darken(#1E90FF, 10%);
  }
}

.Button--danger {
  background-color: red;
  &:hover {
    background-color: darken(red, 10%);
  }
}

.Button--small {
  padding: 6px 10px;
  margin: 0;
  font-size: 0.9em;
}
