.header
  .container 
    .logo-container
      img.logo(src="/images/logo2.svg")
      .text
        .title Blackbeard.io
        .tagline Easy Container Hosting
    ul.members
      li
        a.members__link.members__signup(href="#") Sign up
      li
        a.members__link.members__login(href="#") Login
    ul.navigation
      li.navigation__item 
        a.navigation__link(href="#features") Features
      li.navigation__item 
        a.navigation__link(href="#pricing") Pricing
      li.navigation__item
        a.navigation__link(href="#about") Team
      li.navigation__item
        a.navigation__link(href="#contact") Contact
      li.navigation__item
        a.navigation__link(href="/blog/") Blog
