.about {
  padding: 40px 0;
}
.persons-container {
  background-image: url(/images/about-bg.jpg);
  background-size: cover;
  background-position: center center;
  margin: 90px 0;
}
.persons {
  @extend .container;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  @include medium {
    flex-direction: row;
  }
  .person {
    width: auto;
    color: white;
    margin: 50px 0;
    @include medium {
      width: 40%;
    }
  }
  .person__text {
    padding: 0 20px;
  }
  .person__name {
    text-align: center;
    font-size: 2em;
    font-weight: 300;
  }
  .person__headshot {
    border-radius: 100%;
    max-width: 270px;
    margin: 0 auto;
    display: block;
  }
}