.about {
  @extend %container;
  padding: 40px 0;
}
.persons {
  display: flex;
  justify-content: space-around;
  .person {
    width: 40%;
  }
  .name {
    text-align: center;
  }
  .headshot {
    border-radius: 100%;
  }
}