.contact {
  background: $lightbg;
  padding: 40px 0;
}

input, label, button {
  display: block;
}

.name, .email, .message {
  font-size: 1.1em;
  padding: 5px 10px;
  margin: 10px 0;
  width: 100%;
}
.name, .email {
  max-width: 300px;
}

.message {
  max-width: 500px;
  min-height: 200px;
}

.btn-send {
  @extend %btn;
}