.contact {
  background: $lightbg;
  padding: 40px 0;
}

.contact label {
  display: block;
  color: $lightblue;
  font-size: 1em;
}


.contact-form {
  text-align: center;
}

.name, .email, .message {
  display: block;
  font-size: 1.1em;
  padding: 9px 15px;
  margin: 10px auto 30px;
  width: 100%;
  border: none;
  border-radius: 5px;
}
.name, .email {
  max-width: 500px;
}

.message {
  max-width: 500px;
  min-height: 200px;
}

.btn-send {
  @extend %btn;
  margin: 0 auto;
}