.cover-container {
  display: flex;
  flex-direction: column;
  @include large {
    flex-direction: row;
  }
}
.cover {
  background: url(/images/bg.png);
  min-height: 512px;
  padding: 20px 20px 60px;
  color: white;
  padding-top: 140px;
  background-size: contain;
  .btn-signup {
    @extend %btn-white;
    margin: 0 auto;
    @include large {
      margin: 0;
    }
  }
  .ship {
    flex: 1;
    margin: auto;
    padding: 50px 0 0px;
    @include medium {
      width: 569px;
    }
  }
  .headline {
    flex: 1;
    text-align: center;
    @include large {
      text-align: left;
    }
    h1 {
      font-size: 2em;
      font-weight: 300;
      padding-right: 20px;
      @include medium {
        font-size: 2.5em;
      }
      @include large {
        font-size: 3em;
      }
    }
  }
}
.cover::after {
  content: " ";
  background-image: url(/images/cover-arrow.png);
  width: 57px;
  height: 25px;
  position: absolute;
  margin: 60px auto 0;
  left: 0;
  right: 0;
}
