.cover {
  background: url(/images/bg.png);
  min-height: 512px;
  padding: 20px;
  color: white;
  padding-top: 140px;
  .btn-signup {
    @extend %btn-white;
  }
  .ship {
    width: 569px;
    height: 278px;
    float: right;
    background: url(/images/ship.png)
  }
}

.cover-container {
  display: flex;
}
.headline {
  flex: 1;
  h1 {
    font-size: 3em;
    font-weight: 300;
    padding-right: 20px;
  }
}
