.header {
  width: 100%;
  color: white;
  position: absolute;
}
.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  right: 0;
  top: 70px;
  width: 400px;
  display: none;
  @include large {
    display: flex;
  }
}
.navigation__link {
  flex: 1;
}

.members {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  right: 0px;
  top: 30px;
  width: 200px;
  display: none;
  @include large {
    display: flex;
  }
}
.members__link {
  flex: 1;
}

.logo-container {
  display: flex;
  margin: 0 auto;
  max-width: 400px;
  @include large {
    max-width: initial;
  }
  .logo {
    margin: 15px;
    width: 110px;
    border: 3px solid #FFF;
    border-radius: 120px;
    height: 110px;
  }
  .text {
    flex: 1;
    padding: 35px 0 0 20px;
    .title {
      font-size: 2em;
    }
    .tagline {
    }
  }
}