$priceitemWidth: 280px;

.pricing::before {
  content: " ";
  background: url(/images/pricing-arrow.png);
  width: 116px;
  height: 50px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.pricing {
  background: $darkbg;
  padding: 40px;
  color: white;
  position: relative;
}
.pricetable {
  overflow-x: auto;
  margin: 0 -40px;
  .pricetable__scroll {
    width: $priceitemWidth * 3;
    margin: 0 auto;
  }
  .priceitem {
    padding: 0 20px 40px;
    display: inline-block;
    width: $priceitemWidth;
  }
  .priceitem__name {
    text-align: center;
    font-size: 2em;
    line-height: 4em;
    background: #d2ffd0;
  }
  .priceitem__name--silver {
    background: #ffefdc;
  }
  .priceitem__name--gold {
    background: #d2ffd0;
  }
  .priceitem__name--diamond {
    background: #b7fffe;
  }
  .priceitem__details {
    background-image: url(/images/price-bg@2x.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    color: $lightblue;
    margin: 0 0 40px;
    padding: 0 0 50px;
    position: relative;
    width: 250px;
  }
  .priceitem__anchor {
    background-image: url(/images/price-anchor.png);
    width: 51px;
    height: 68px;
    position: absolute;
    left: -3px;
    right: 0;
    bottom: -32px;
    margin: 0 auto;
  }
  .priceitem__specs {
    margin: 0;
    padding: 30px 0;
    list-style-type: none;
    text-align: center;
  }
  .priceitem__price {
    background: url(/images/price.svg);
    width: 131px;
    height: 82px;
    margin: 0 auto;
    text-align: center;
    color: black;
    line-height: 3em;
    font-size: 1.8em;
    font-weight: 600;
  }
  .priceitem__deploy {
    @extend %btn-white-shadow;
    width: 80%;
    text-align: center;
    margin: 40px auto;
  }
}