@import "modules/buttons";
@import "cover";
@import "steps";
@import "pricing";
@import "about";
@import "contact";

body {
  font-family: 'Open Sans', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

img {
  max-width: 100%;
}