$layoutWidth: 800px;

@import "modules/buttons";
@import "modules/forms";
@import "modules/popup";
@import "cover";
@import "steps";
@import "pricing";
@import "about";
@import "contact";

body {
  font-family: 'Open Sans', sans-serif;
  max-width: $layoutWidth;
  margin: 0 auto;
  padding: 10px;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}