$layoutWidth: 1100px;
$darkblue: #00658b;

@import "modules/buttons";
@import "modules/forms";
@import "modules/popup";
@import "header";
@import "cover";
@import "steps";
@import "pricing";
@import "about";
@import "contact";

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  padding: 0px;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: $layoutWidth;
  margin: 0 auto;
  position: relative;
}