doctype html
html(lang="en")
  head
    title Blackbeard
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="/build/blog.css" rel="stylesheet" type="text/css")
  body
    h1 
      a(href='/blog/') Blackbeard blog
    block content
    link(href="http://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic" rel="stylesheet" type="text/css")

