.Onboarding {
}
.Onboarding__Terminal {
  background: black;
  color: white;
  padding: 20px 15px;
}

.Onboarding__Username {
  display: inline-block;
  width: 100%;
  max-width: 350px;
}
.Onboarding__Username--Valid {
  border: 1px solid #008000;
}
.Onboarding__Username--Invalid {
  border: 1px solid red;
}
