$micro-breakpoint: 390px;
$small-breakpoint: 480px;
$medium-breakpoint: 600px;
$large-breakpoint: 790px;
$huge-breakpoint: 1000px;
$gigantic-breakpoint: 1200px;

@mixin micro {
  @media only screen and (min-width: $small-breakpoint) {
    @content;
  }
}

@mixin small {
  @media only screen and (min-width: $small-breakpoint) {
    @content;
  }
}

@mixin medium {
  @media only screen and (min-width: $medium-breakpoint) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: $large-breakpoint) {
    @content;
  }
}

@mixin huge {
  @media only screen and (min-width: $huge-breakpoint) {
    @content;
  }
}

@mixin gigantic {
  @media only screen and (min-width: $gigantic-breakpoint) {
    @content;
  }
}