.Apps {}
.Apps__Item {
  line-height: 35px;
  padding: 0 5px;
  border-bottom: 1px solid #CCC;
  &:last-child {
    border-bottom: 0px;
  }
  &:hover {
    background-color: #ECECEC;
  }
}
.Apps__Link {
  display: block;
  text-decoration: none;
}
