.header
  .container 
    .logo-container
      img.logo(src="/images/blackbeard.svg")
      .text
        .title Blackbeard.io
        .tagline Docker Container Hosting
    ul.members
      li.members__link Sign up
      li.members__link Login
    ul.navigation
      li.navigation__link Features
      li.navigation__link Pricing
      li.navigation__link Who are we
      li.navigation__link Contact