.cover
  .container.cover-container

    .headline 
      h1 You only have to bring the container, we host it for you
      .signup
    .ship
      img(src="/images/ship.png")


.steps
  .container 
    h2.headline How it works
    ul.steps-container
      li.step
        .step__image
          img(src="/images/stepone.svg") 
        .step__number 1
        div.step__text You create the app you want and build a dockerfile to specify how to run it
      li.step 
        .step__image
          img(src="/images/steptwo.svg")
        .step__number 2
        div.step__text You push it to us via the docker cli
      li.step
        .step__image
          img(src="/images/stepthree.svg")
        .step__number 3
        div.step__text We host it for you, with automatic scaling, load-balancing, etc.

.works
  .container.works-container
    h2.typo__headline.typo__headline--mediumblue How it works behind the scenes
    .works__banner
      | We have a docker registry,
      br
      | where we store your docker image securely.
    p
      span Once a Docker container is uploaded a 
      span(title='A CNAME record is a DNS record that acts as an alias of another record') CNAME
      span  will be provided that points to your running application.
    p
      | We use powerful servers and, due to the nature of containers, we run many of them together on custom server cluster. We employ multiple load balancers to tunnel traffic to your containers in an intelligent manner. Multiple redundancy layers are provided by ensuring that at least two containers are running at any point in time.
    p
      span
        | Due to the large number of logging services available Blackbeard.io does not provide the facility to do this. Our recommendation is to use a more dedicated service, such as 
      a(href='https://www.loggly.com/') loggly.com
      span  and 
      a(href='https://www.papertrailapp.com/') papertrailapp.com
      | .
    p
      | Our servers will host your web application in a secure environment. Two-factor authentication can be enabled to ensure any changes to your hosting arrangement will be by a trusted person.


.features
  img.features__headerimage(src="/images/features.png")
  h2.typo__headline.typo__headline--mediumblue Features

  .features__list
    .features__item CLI for scaling containers
    .features__spacer
    .features__item Automatic load-balancing
    .features__spacer
    .features__item Free SSL on subdomain

.pricing
  .container
    h2.typo__headline.typo__headline--white Pricing

    .pricetable
      .pricetable__scroll
        .priceitem
          .priceitem__details
            .priceitem__name.priceitem__name--silver Silver
            ul.priceitem__specs
              li 256 MB per container
              li 100 GB traffic
              li Adequate CPU usage
            .priceitem__anchor
          .priceitem__price $3
          .priceitem__deploy DEPLOY
        .priceitem
          .priceitem__details
            .priceitem__name.priceitem__name--gold Gold
            ul.priceitem__specs
              li 512 MB per container
              li 200 GB traffic
              li Adequate CPU usage
            .priceitem__anchor
          .priceitem__price $6
          .priceitem__deploy DEPLOY
        .priceitem
          .priceitem__details
            .priceitem__name.priceitem__name--diamond Diamond
            ul.priceitem__specs
              li 512 MB per container
              li 200 GB traffic
              li Adequate CPU usage
            .priceitem__anchor
          .priceitem__price $11
          .priceitem__deploy DEPLOY

.about
  .about__headerimage
    img(src="/images/about.png")
  h2.typo__headline.about__headline Who we are

  .persons-container
    .persons
      .person
        img.person__headshot(src="/images/james.jpg")
        h3.person__name James Brooking
        .person__text.
          My name is James and I am originally from Australien. I have a passion for
          backend programming and biking. I am currently living in Copenhagen, where
          I like the free culture. I like to drink coffee and talk about traveling to
          new places and discover the small world we live in.
      .person
        img.person__headshot(src="/images/kevin.jpg")
        h3.person__name Kevin Simper
        .person__text.
          My name is Kevin and i live in Copenhagen. I am the co-organizer of
          Docker Copenhagen and active in the javascript community. I like to
          write javascript and sees myself as a FullStack programmer. In my spare time
          I like to be active on my bikes and watch movies.


.contact
  .container
    h2.typo__headline Got any questions?
    form.contact-form
      label Name
      input.name(type="text")
      label Email
      input.email(type="email")
      label Message
      textarea.message
      button.btn-send Send message

.footer
  .container
    img(src="/images/contact-icon.png")
    div 2015
    
script(src="/build/bundle.js")
