.popup
  h1 We are not quite ready yet
  p But you can sign up and you will get a special invitation when we are ready
  input.input.input__email(type="email", placeholder="Email")
  button.btn-signup Signup now