.features {
  padding: 40px 0;
  @extend %container;
}
.features__headerimage {
  display: block;
  margin: 0 auto;
}
.features__list {
  margin: 40px 0;
  text-align: center;
}
.features__item {
  font-size: 2em;
  color: $lightblue;
}
.features__item__desc {
  max-width: 400px;
  margin: 20px auto;
  color: $mediumblue;
}
.features__spacer {
  background-image: url(/images/features-spacer.png);
  width: 348px;
  height: 39px;
  margin: 30px auto;
}
