.header {
  width: 100%;
  color: white;
  position: absolute;
}
.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  right: 10px;
  top: 80px;
  width: 370px;
  display: none;
  @include large {
    display: flex;
    justify-content: space-between;
  }
}
.navigation__item {
  flex: 1;
  text-align: center;
  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
  }
}
.navigation__link {
  color: white;
  text-decoration: none;
  padding: 5px 0;
  display: block;
}

.members {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  right: 0px;
  top: 30px;
  width: 220px;
  display: none;
  @include large {
    display: flex;
  }
}
.members__link {
  flex: 1;
  margin: 0 5px;
  display: inline-block;
  color: white;
  text-decoration: none;
}
.members__signup {
  background-image: url(/images/signup.svg);
  background-repeat: no-repeat;
  padding: 5px 15px 5px 30px;
  background-position: 8px 7px;
  border-radius: 4px;
  text-align: center;
  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
}
.members__login {
  background-image: url(/images/login.svg);
  background-repeat: no-repeat;
  padding: 5px 15px 5px 30px;
  background-position: 8px 7px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  text-align: center;
  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.logo-container {
  display: flex;
  margin: 0 auto;
  max-width: 400px;
  @include large {
    max-width: initial;
  }
  .logo {
    margin: 15px;
    width: 110px;
    border: 3px solid #FFF;
    border-radius: 120px;
    height: 110px;
  }
  .text {
    flex: 1;
    padding: 35px 0 0 20px;
    .title {
      font-size: 2em;
    }
    .tagline {
    }
  }
}
