.steps {
  padding: 40px 0;
  .headline {
    color: $lightblue;
    text-align: center;
    font-weight: 300;
    font-size: 2em;
  }
}
.steps::before {
  content: " ";
  background-image: url(/images/cover-arrow.png);
  background-repeat: no-repeat;
  width: 57px;
  height: 25px;
  position: absolute;
  margin: -40px auto 0;
  left: 0;
  right: 0;
}
.steps-container {
  display: flex;
  padding: 0;
  justify-content: space-between;
  flex-direction: column;
  margin: 20px;
  @include medium {
    flex-direction: row;
  }
  .step {
    list-style-type: none;
    text-align: center;
    color: $darkblue;
    @include medium {
      width: 30%;
    }
  }
  .step__image {
    padding: 40px 0;
    border: 1px solid $lightblue;
    border-radius: 80px;
    width: 140px;
    height: 140px;
    margin: 0 auto 20px;
    display: inline-block;
    @include medium {
      display: block;
    }
  }
  .step__number {
    background: $lightblue;
    color: #FFF;
    width: 24px;
    border-radius: 20px;
    display: inline-block;
    margin: 0 20px;
    display: none;
    @include medium {
      margin: 0 auto;
      display: block;
    }
  }
  .step__text {
    margin: 20px 0 0 0;
    display: inline-block;
    width: 50%;
    padding: 10px 5px;
    @include medium {
      padding: 0;
      display: block;
      width: auto;
    }
  }
}
