$layoutWidth: 1100px;
$lightblue: #00a9e8;
$mediumblue: #137092;
$darkblue: #00658b;

$lightbg: #e9f9ff;
$darkbg: #00a9e8;

@import "modules/responsivehelper";
@import "modules/buttons";
@import "modules/forms";
@import "modules/popup";
@import "modules/typo";
@import "header";
@import "cover";
@import "steps";
@import "_dockerfile";
@import "terminal";
@import "webpage";
@import "works";
@import "features";
@import "pricing";
@import "about";
@import "contact";
@import "footer";

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  padding: 0px;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: #111111; 
}
a:hover {
  text-decoration: none;
}

%container {
  max-width: $layoutWidth;
  margin: 0 auto;
  position: relative;
}
.container {
  @extend %container;
}
